{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <h1 class="pagename">Дошка оголошень</h1>
    <div class="filter">
        <form method="get" class="search-form">
            <div class="div-form">
                <p>Виберіть назву автомобіля:</p>
                {{ myFilter.form.car_name }}
                <p>Виберіть регіон:</p>
                {{ myFilter.form.city }}
                <p>Роки випуску автомобіля:</p>
                {{ myFilter.form.year }}
                <p>Виберіть ціну</p>
                {{ myFilter.form.price }}
            </div>
            <button type="submit" class="btn btn-warning">Пошук</button>
        </form>
    </div>
    {% for el in ads %}
        <div class="container_car">
            <div class="photo-wrapper">
                 <div class="photo">
                    <img class="img_car" src="{{ el.img.url }}" alt="car image">
                 </div>
            </div>

            <div class="info_car">
                <div class="header_car">
                    <a href="{% url 'ad' %}?id={{ el.id }}">{{ el.car_name }} {{ el.car_model }} {{ el.year }}</a>
                </div>
                <div class="price">
                    <p>{{ el.price }}$</p>
                </div>
                <div class="car_data">
                    <ul class="table_car">
                        <li>
                            <p><img src="{% static 'main/img/icon_mileage.svg' %}" class="icon" alt=""> {{ el.mileage }} тис. км.</p>
                        </li>
                        <li>
                            <img src="{% static 'main/img/icon_fuel.svg' %} " alt="" class="icon">
                            {{ el.volume }}
                        </li>
                        <li>
                            <img src="{% static 'main/img/icon_location.svg' %}" alt="" class="icon">
                            {{ el.city }}
                        </li>
                        <li>
                            <img src="{% static 'main/img/icon_akp.svg' %}" alt="" class="icon">
                            {{ el.transmission }}
                        </li>
                        <li><img src="{% static 'main/img/icon-phone.svg' %}" alt="" class="icon">
                            {{ el.number_of_phone }}
                        </li>
                    </ul>
                </div>
            </div>
        <div>
            <p class="describe">{{ el.describe }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}